name: Deploy 3-Tier Infrastructure

on:
  workflow_dispatch:
    inputs:
      client_name:
        description: "Client Name"
        required: true
        default: "clientA"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ap-south-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init
        working-directory: terraform

      - name: Terraform Plan
        run: terraform plan -var="client_name=${{ github.event.inputs.client_name }}"
        working-directory: terraform

      - name: Terraform Apply
        run: terraform apply -auto-approve -var="client_name=${{ github.event.inputs.client_name }}"
        working-directory: terraform

      - name: Install Ansible
        run: sudo apt-get update && sudo apt-get install -y ansible

      - name: Run Ansible Playbook
        run: ansible-playbook ansible/site.yml -i ansible/inventory.ini
